<ion-header>
    <ion-toolbar>
        <ion-title>Add To-Do</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="addnoteForm">
        <ion-item>
            <ion-label position="stacked">Description</ion-label>
            <ion-input formControlName="description"></ion-input>
        </ion-item>
        
        <ion-button (click)="creatNote(); addAlert()" expand="block">Create</ion-button>
      </form>

    <ion-button (click)="closeModal()" expand="block" fill="outline">Cancel</ion-button>
</ion-content>